body{
	margin:0;
	padding:0;
}
a,a:hover{
	text-decoration: none;
	color:initial;
}
.mcontent{
	width:1020px;
	border:0px solid red;
	margin: 0 auto;
}
.section1{
	width:100%;
	height: 400px;
	background: url("../img/section1-bg1.jpg") no-repeat;	
	background-size: 100% 100%;
	padding-top: 20px;
}
.section1 .desc{
	font-size: 23px;
    font-family: 黑体;
	margin-left: 8px;
	margin-top:10px;
	color: white;
	line-height: 30px;
}
.sec2{
	height: 540px;
	background-color: #C8D6E1;
}
.sec2 .title{
	color: #2A6596;
    text-align: center;
    border: 0px solid red;
    padding-top: 39px;
    font-size: 26px
}

.sec2 .left{
	border: 0px solid red;
	width: 48%;
	float: left;
}
.sec2 img{
	width: 522px;
    margin-left: -38px;
}
.sec2 .desc{
	line-height: 30px;
	text-align: justify;
	text-indent: 2em;
	color:#73777A;
}

.sec2 .right{
	border: 0px solid blue;
	width: 48%;
	float: right;
	text-align: center;
}

.sec2 .right .word1{
	margin-top:28px;
}

.sec2 .right .word2{
	margin-top:45px;	
}
.sec2 .laiyuan{
	font-size: 13px;
    color: gray;
    text-align: right;
    margin-top: 11px;
}

.btn{
	background-color: #0073A6;
    padding: 10px 16px;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    height: 20px;
    line-height: 19px;
    display: inline-block;
}

.btn2{
	background-color: #FFBB5A;	
}

.sec2 a:hover{
	color:white;
}



.sec3{
	height: 400px;
	text-align: center;

}


.sec3 img{
	margin-top:60px;
}

.sec3 .da{
	width: 1100px;
	border: 0px solid red;
	margin: 0 auto;
	margin-top: -100px;
	text-align: left;
}

.sec3 .da  .shang{
	color: white;
	font-weight:bold;
    text-align:center;
}
.sec3 .da .xia{
	margin-top: 80px;
	font-size: 14px;
	color: gray;
	text-align: justify;
}
.sec3 .da .box {	    
	border: 0px solid blue;
    width: 120px;
    height: 260px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.sec3 .one{
	margin-left: 29px;
}
.sec3 .two{
	margin-left: 62px;
}
.sec3 .box3{
	margin-left: 61px;
}
.sec3 .box4{
	margin-left: 67px;
}
.sec3 .box5{
	margin-left: 48px;	
}
.sec3 .box6{
	margin-left: 55px;
}

.sec4{
	background-color: #d2e0eb;
}
.sec4 .title{
	color: #2A6596;
    text-align: center;
    border: 0px solid red;
    padding-top: 39px;
    font-size: 26px
}
.sec4 .pic{
	margin-top:30px;
	text-align: center;
}
.sec4 .desc{	
    margin-top: -75px;
    color: #1268a1;
}
.sec4 .desc span:nth-child(1){
	margin-left: 162px;

}
.sec4 .desc span:nth-child(2){
	margin-left: 93px;
}
.sec4 .desc span:nth-child(3){
	margin-left: 111px;
}
.sec4 .desc span:nth-child(4){
	margin-left: 117px;
}
.sec4 .desc span:nth-child(5){
	margin-left: 112px;
}
.sec4 .title1{
	text-align: center;
	margin-top: 60px;
	color: gray;
}
.sec4 .content1{
	size: 12px;
	color: gray; 
	margin-top: 30px;
	line-height: 26px;
	text-indent: 2em;
	padding-bottom: 40px;
	text-align: justify;
}

.sec5{	
	width:100%;
	height: 520px;
	background: url("../img/sec5-bg.jpg") no-repeat;	
	background-size: 100% 100%;
	padding-top: 20px;
}

.sec5 li div{
	text-align: center;
    color: white;
}

.sec6{
	height: 545px;
	background-color: #ffffff;

}
.sec6 .title{
	color: #2D6998;
    text-align: center;
    border: 0px solid red;
    padding-top: 39px;
    font-size: 26px
}
.sec6 .main{
	color: #666666;
	font-size: 16px;
	margin-top: 40px;
	text-align: center;
}
.sec6 .swiper-wrapper{
	border: 0px solid blue;
}

.sec6 .swiper-slide{
	border: 0px solid red;
}

.sec6 .slidebox{
	border: 0px solid red;
    width: 532px;
    height: 366px;
    margin: 0 auto;
}

.sec6 .slidebox .desc{
	font-size: 12px;
    text-align: center;
    margin-top: 13px;
}

.sec6 .swiper-container{
	width:680px;
	margin-top: 20px;
}

.sec7{
    background:url("../img/section7-1.png") no-repeat;
    background-size: 100% 100%;
    height: 533px;
 
}
.sec7 .mcontent{
	height: 533px;
}

.sec7 .mcontent img{
	margin-top: 75px;
	margin-left: 38px;
	float: left;

}

.sec7 .mcontent .right{
	width: 520px;
	height: 533px;
	margin-right: 0px;
	float:right;

}
.sec7 .mcontent .right .title{
	text-align: center;
	font-size: 25px;
	color: #024b85;
	padding-top: 42px;
	padding-bottom: 44px;
	font-weight: bold;

}
.sec7 .mcontent .right .main{
	font-size: 16px;
	color: #575757;
}

.sec7 .mcontent .right .main2{
	width: 520px;
	height: 140px;
	margin-top: 64px;
	

}
.sec7 .mcontent .right .main2 .list1{
	height: 20px;
	width: 272px;

}

.sec7 .mcontent .right .main2 .left{
	width: 272px;
	height: 140px;
	display: inline-block;
	
}
.sec7 .mcontent .right .main2 .left .list2{
	padding-top: 20px;
}
.sec7 .mcontent .right .main2 .left .list3{
	padding-top: 20px;
}
.sec7 .mcontent .right .main2 .left .list4{
	padding-top: 20px;
}
.sec7 .mcontent .right .main2 .right{
	width: 248px;
	height: 140px;
	display: inline-block;
}
.sec7 .mcontent .right .main2 .right .list6{
	padding-top: 20px;
}
.sec7 .mcontent .right .main2 .right .list7{
	padding-top: 20px;
}
.sec7 .mcontent .right .btn{
	margin-top: 48px;
}
.sec8{
	background-color: #ffffff;

}
.sec8 .mcontent {
    width:1020px;
	border:0px solid red;	
	text-align: center;
}

.sec8 .mcontent .title{
	font-size:25px;
	color: #024b85;
    margin-top:48px;
	padding-bottom:44px;
	font-weight: bold;
}
.sec8 .list{
	border:0px solid red;	
}
.sec8 .line{
	width: 1px;
    border-right: 1px dotted #099ad2;
    display: inline-block;
    height: 263px;
    margin-top: 71px;
}
.sec8 .mcontent .box{
    width: 241px;
    height: 409px;    
    display: inline-block;  
    vertical-align: top;    
}
.sec8 .mcontent .box .wenzi{
	font-size: 20px;
	color: #027199;
	padding-top: 3px;
}
.sec8 .mcontent .box .main{
	font-size: 14px;
	color: #626262;
	line-height: 23px;
	padding-top: 16px;
	text-align: justify;
	width: 234px;	
	margin: 0 auto;
}


.section16{
    height: 647px;
    margin: 0 auto;
    text-align: center;
    padding-top: 49px;
}

.section16 .title{
    font-size: 25px;
    color: #034C83;
    letter-spacing: 6px;
    font-weight: bold;
}

.section16 .content{
    text-align: center;
    border: 0px solid red;
    margin-top: 35px;
}

.section16 .imgBox{
    display: inline-block;
    border: 0px solid red;
    width: 191px;
    text-align: center;
    vertical-align: top;
}

.section16 .imgBox div{    
    width: 100%;
    text-align: center;
    font-size: 19px;
    letter-spacing: 2px;    
}
.section17{
	background:url("../img/section17.png") no-repeat;
    background-position-x: center;
    height: 84px;
    width: 100%;
    margin-top: 40px;
    padding-top: 691px;
}

.section17 .box{	
	text-align: center;
}

.section17 .box a{
	margin:0 157px;
}
