.section1 {
    height: 302px;
    border: 0px solid red;
    background-color: gray;
    /*font-family: 黑体;*/
}

    .section1 .title {
        width: 531px;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 40px;
        border: 0px solid red;
    }

        .section1 .title .special {
            margin: 0 8px;
            color: #FFBD4A;
            font-size: 90px;
            font-family: Symbol,Arial;
        }

    .section1 .line {
        width: 344px;
        height: 2px;
        margin: 0 auto;
        margin-top: -16px;
        margin-bottom: 20px;
        background-color: #3EB894;
    }

    .section1 .content {
        width: 738px;
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
        color: #FFBD4A;
    }

    .section1 .btn {
        margin-top: 20px;
        text-align: center;
    }

        .section1 .btn a {
            display: inline-block;
            width: 200px;
            border-radius: 6px;
            border: 1px solid #3FCD9F;
            background-color: #0E3049;
            font-size: 22px;
            color: #FFBD4A;
            letter-spacing: 5px;
            text-decoration: none;
        }

.section2 {
    text-align: center;
}

    .section2 h4 {
        margin-top: 21px;
        font-size: 37px;
        color: #044987;
        font-weight: bold;
    }

    .section2 p {
        font-style: italic;
        font-size: 14px;
    }

    .section2 .desc {
        width: 653px;
        margin: 0 auto;
        padding: 11px 38px;
        text-align: center;
        font-size: 13px;
        border: 1px dotted;
        border-radius: 7px;
    }

    .section2 .special {
        margin: 0 8px;
        color: #FFBD4A;
        font-size: 22px;
        line-height: 28px;
    }

.yellowa {
    display: inline-block;
    background-color: #FCAF43;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
}

    .yellowa:hover {
        text-decoration: none;
    }

.section3 {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #EAF4FF;
}

    .section3 h4 {
        font-size: 37px;
        color: #187F87;
        font-weight: bold;
    }

        .section3 h4 .special {
            margin: 0 5px;
            font-size: 56px;
            font-family: Symbol,Arial;
        }

    .section3 p {
        font-family: 黑体;
        font-size: 14px;
        font-style: italic;
    }

        .section3 p span {
            color: #FCAF43;
        }

.section4 {
    height: 400px;
    background: url(../img/section4bg.png) no-repeat;
    background-position: center;
    text-align: center;
}

    .section4 h4 {
        color: #F7B74B;
        font-size: 41px;
        line-height: 167px;
    }

    .section4 p {
        color: white;
        width: 942px;
        margin: 0 auto;
        text-align: justify;
        font-size: 23px;
    }

.section5 {
    height: 400px;
}

.section6 {
    background-color: #F2F3F7;
    height: 492px;
}

    .section6 .container {
        width: 1000px;
        padding-top: 24px;
        margin: 0 auto;
    }

    .section6 h4 {
        font-size: 27px;
        font-weight: bold;
        color: #01498F;
    }

    .section6 p {
        width: 50%;
        float: left;
        font-size: 14px;
    }

    .section6 img {
        float: right;
    }
