.section1 {
    height: 400px;
    border: 0px solid red;
    /*font-family: 黑体;*/
    padding-top: 20px;
    background: url(../img/section1bg.png) no-repeat;
    background-size: 100% 100%;
}

    .section1 .title {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 57px;
        border: 0px solid red;
    }

        .section1 .title .special {
            margin: 7px 8px;
            color: #FFBD4A;
            font-size: 122px;
            font-family: Symbol,Arial;
            vertical-align: -6px;
        }

    .section1 .line {
        width: 500px;
        height: 1px;
        margin: 0 auto;
        margin-top: -25px;
        margin-bottom: 20px;
        background-color: #3EB894;
    }

    .section1 .content {
        margin: 0 auto;
        text-align: center;
        font-size: 25px;
        color: #FFBD4A;
    }

    .section1 .btn {
        margin-top: 39px;
        text-align: center;
    }

        .section1 .btn a {
            display: inline-block;
            width: 200px;
            border-radius: 6px;
            border: 1px solid #3FCD9F;
            background-color: #0E3049;
            font-size: 25px;
            color: #FFBD4A;
            letter-spacing: 5px;
            text-decoration: none;
        }

.section2 {
    text-align: center;
}

    .section2 h4 {
        margin-top: 21px;
        font-size: 42px;
        color: #044987;
        font-weight: bold;
    }

    .section2 p {
        font-style: italic;
        font-size: 19px;
        color: gray;
    }

    .section2 img {
        margin-top: 21px;
        margin-bottom: 20px;
    }

    .section2 .desc {
        width: 909px;
        margin: 0 auto;
        padding: 11px 38px;
        text-align: center;
        font-size: 18px;
        border: 2px dotted;
        border-radius: 7px;
    }

    .section2 .special {
        margin: 0 8px;
        color: #FFBD4A;
        font-size: 22px;
        line-height: 28px;
    }

.yellowa {
    display: inline-block;
    background-color: #FCAF43;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
}

    .yellowa:hover {
        text-decoration: none;
    }

.section3 {
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #EAF4FF;
}

    .section3 h4 {
        font-size: 41px;
        color: #187F87;
        font-weight: bold;
    }

        .section3 h4 .special {
            margin: 0 5px;
            font-size: 67px;
            font-family: Symbol,Arial;
        }

    .section3 p {
        font-size: 17px;
        font-style: italic;
        letter-spacing: 1px;
    }

        .section3 p span {
            color: #FCAF43;
        }

    .section3 img {
        margin-top: 23px;
    }

    .section3 .picDesc {
        border: 0px solid red;
        text-align: center;
    }

        .section3 .picDesc span {
            width: 143px;
            display: inline-block;
            border: 0px solid blue;
            text-align: justify;
            margin: 0 10px;
            vertical-align: top;
        }

.section4 {
    height: 400px;
    background: url(../img/section4bg.png) no-repeat;
    background-position: center;
    text-align: center;
}

    .section4 h4 {
        color: #F7B74B;
        font-size: 41px;
        line-height: 167px;
    }

    .section4 p {
        color: white;
        width: 942px;
        margin: 0 auto;
        text-align: justify;
        font-size: 23px;
    }

.section5 {
    height: 400px;
}

.container {
    width: 1170px;
    padding: 0 60px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.left {
        height: 71px;
    width: 37px;
    background-position: -160px 0;
        background: url(icons/icons.png) no-repeat;
}

.section5 .section-title {
    padding: 68px 0 20px 0;
}

    .section5 .section-title h1 {
        padding: 0 24px;
    }

.expert.swiper-container {
    height: 430px;
}

    .expert.swiper-container img {
        width: 450px;
        height: 430px;
        display: block;
        float: left;
    }

    .expert.swiper-container .imgleft {
        box-sizing: border-box;
        background: #FFFFFF;
        width: 40px;
        height: 430px;
        padding-top: 70px;
        display: block;
        float: left;
    }

    .expert.swiper-container .info {
        box-sizing: border-box;
        background: #FFFFFF;
        text-align: left;
        width: 560px;
        height: 430px;
        padding-top: 70px;
        display: block;
        float: left;
    }

        .expert.swiper-container .info > .lable {
            display: block;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 33px;
            background: #00a89e;
            padding: 0 12px;
        }

        .expert.swiper-container .info > .name {
            display: block;
            font-size: 20px;
            color: #003063;
            font-weight: bold;
            margin-bottom: 18px;
        }

        .expert.swiper-container .info > .context {
            display: block;
            margin-top: 20px;
            font-size: 12px;
            color: #555555;
            line-height: 20px;
        }

    .expert.swiper-container .swiper-pagination {
        position: absolute;
        top: 300px;
        left: 500px;
        width: 560px;
        height: 72px;
    }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet {
            display: inline-block;
            width: 72px;
            height: 72px;
            box-sizing: border-box;
            border: #d0d0d0 2px solid;
            border-radius: 100%;
            margin: 0 7px 0 0;
            background: center;
            background-size: 73px 73px;
            opacity: 1;
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
            border: #28B6AD 2px solid;
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
            background-image: url(../img/section8/bullet1.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(2) {
            background-image: url(../img/section8/bullet2.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
            background-image: url(../img/section8/bullet3.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
            background-image: url(../img/section8/bullet4.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(5) {
            background-image: url(../img/section8/bullet5.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(6) {
            background-image: url(../img/section8/bullet6.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(7) {
            background-image: url(../img/section8/bullet7.png);
        }



.section6 {
    background-color: #F2F3F7;
    height: 492px;
}

    .section6 .container {
        width: 1000px;
        padding-top: 24px;
        margin: 0 auto;
    }

    .section6 h4 {
        font-size: 27px;
        font-weight: bold;
        color: #01498F;
    }

    .section6 p {
        width: 50%;
        float: left;
        font-size: 14px;
    }

    .section6 img {
        float: right;
    }
