.section1 {
    height: 400px;
    border: 0px solid red;
    /*font-family: 黑体;*/
    padding-top: 20px;
    background: url(../img/section1bg.png) no-repeat;
    background-size: 100% 100%;
}

    .section1 .title {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 57px;
        border: 0px solid red;
    }

        .section1 .title .special {
            margin: 7px 8px;
            color: #FFBD4A;
            font-size: 122px;
            font-family: Symbol,Arial;
            vertical-align: -6px;
        }

    .section1 .line {
        width: 500px;
        height: 1px;
        margin: 0 auto;
        margin-top: -25px;
        margin-bottom: 20px;
        background-color: #3EB894;
    }

    .section1 .content {
        margin: 0 auto;
        text-align: center;
        font-size: 25px;
        color: #FFBD4A;
    }

    .section1 .btn {
        margin-top: 39px;
        text-align: center;
    }

        .section1 .btn a {
            display: inline-block;
            width: 200px;
            border-radius: 6px;
            border: 1px solid #3FCD9F;
            background-color: #0E3049;
            font-size: 25px;
            color: #FFBD4A;
            letter-spacing: 5px;
            text-decoration: none;
        }

.section2 {
    text-align: center;
}

    .section2 h4 {
        margin-top: 21px;
        font-size: 42px;
        color: #044987;
        font-weight: bold;
    }

    .section2 p {
        font-style: italic;
        font-size: 19px;
        color: gray;
    }

    .section2 img {
        margin-top: 21px;
        margin-bottom: 20px;
    }

    .section2 .desc {
        width: 909px;
        margin: 0 auto;
        padding: 11px 38px;
        text-align: center;
        font-size: 18px;
        border: 2px dotted;
        border-radius: 7px;
    }

    .section2 .special {
        margin: 0 8px;
        color: #FFBD4A;
        font-size: 22px;
        line-height: 28px;
    }

.yellowa {
    display: inline-block;
    background-color: #FCAF43;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
}

    .yellowa:hover {
        text-decoration: none;
    }

.section3 {
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #EAF4FF;
}

    .section3 h4 {
        font-size: 41px;
        color: #187F87;
        font-weight: bold;
    }

        .section3 h4 .special {
            margin: 0 5px;
            font-size: 67px;
            font-family: Symbol,Arial;
        }

    .section3 p {
        font-size: 17px;
        font-style: italic;
        letter-spacing: 1px;
    }

        .section3 p span {
            color: #FCAF43;
        }

    .section3 img {
        margin-top: 23px;
    }

    .section3 .picDesc {
        border: 0px solid red;
        text-align: center;
    }

        .section3 .picDesc span {
            width: 143px;
            display: inline-block;
            border: 0px solid blue;
            text-align: justify;
            margin: 0 10px;
            vertical-align: top;
        }

.section4 {
    height: 400px;
    background: url(../img/section4bg.png) no-repeat;
    background-position: center;
    text-align: center;
}

    .section4 h4 {
        color: #F7B74B;
        font-size: 41px;
        line-height: 167px;
    }

    .section4 p {
        color: white;
        width: 942px;
        margin: 0 auto;
        text-align: justify;
        font-size: 23px;
    }

.section5 {
    height: 519px;
}

.container {
    width: 1240px;
    padding: 0 60px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 37px;
}
.left {
        height: 71px;
    width: 37px;
    background-position: -160px 0;
        background: url(icons/icons.png) no-repeat;
}

.section5 .section-title {
    padding: 68px 0 20px 0;
}

    .section5 .section-title h1 {
        padding: 0 24px;
    }

.expert.swiper-container {
    height: 430px;
}

    .expert.swiper-container img {
        width: 328px;
        height: 398px;
        display: block;
        float: left;
        margin-top: 26px;
    }

    .expert.swiper-container .imgleft {
        box-sizing: border-box;
        background: #FFFFFF;
        width: 50px;
        height: 430px;
        padding-top: 70px;
        display: block;
        float: left;
    }

    .expert.swiper-container .info {
        box-sizing: border-box;
        background: #FFFFFF;
        text-align: left;
        width: 601px;
        height: 430px;
        padding-top: 56px;
        display: block;
        float: left;
    }

        .expert.swiper-container .info > .lable {
            display: block;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 33px;
            background: #fbaf43;
            padding: 0 12px;
        }

        .expert.swiper-container .info > .name {
            display: block;
            font-size: 20px;
            color: #003063;
            font-weight: bold;
            margin-bottom: 18px;
        }

        .expert.swiper-container .info > .context {
            display: block;
            margin-top: 20px;
            font-size: 12px;
            color: #555555;
            line-height: 20px;
        }

    .expert.swiper-container .swiper-pagination {
        position: absolute;
        top: 324px;
        left: 373px;
        width: 639px;
        height: 72px;
        border:0px solid red;
    }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet {
            display: inline-block;
            width: 72px;
            height: 72px;
            box-sizing: border-box;
            border: #d0d0d0 2px solid;
            border-radius: 100%;
            margin: 0 7px 0 0;
            background: center;
            background-size: 73px 73px;
            opacity: 1;
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
            border: #28B6AD 2px solid;
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
            background-image: url(../img/section8/p1m.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(2) {
            background-image: url(../img/section8/p2m.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
            background-image: url(../img/section8/p3m.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
            background-image: url(../img/section8/p4m.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(5) {
            background-image: url(../img/section8/p5m.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(6) {
            background-image: url(../img/section8/p6m.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(7) {
            background-image: url(../img/section8/p7m.png);
        }

        .expert.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(8) {
            background-image: url(../img/section8/p8m.png);
        }

.section5 #leftBtn{
    position: absolute;
    top: 307px;
    left: 501px;
    height: 72px;
    display: inline-block;
    width: 28px;
    background-color: red;
    z-index: 999;
}


.section6 {
    background-color: #F2F3F7;
    height: 523px;
}

    .section6 .container {
        width: 1245px;
        padding-top: 24px;
        margin: 0 auto;
    }

    .section6 h4 {
        font-size: 36px;
        font-weight: bold;
        color: #01498F;
        font-family: 黑体;
    }

    .section6 p {
        font-family: 黑体;
        width: 50%;
        float: left;
        font-size: 16px;
        text-align: justify;
    }

    .section6 img {
        float: right;
        padding-right: 75px;
    }

    .section6 .container span.line{
        display:block;
        margin: 20px 0px;
        border: 1px dotted #4077A9;        
    }

.section6 .yellowa{
    margin:30px 0px;
    border-radius: 21px;    
}

.section7{
    height: 377px;
    text-align:center;
}

.section7 .imgbox{
    text-align:center;
    margin-top: 20px;
}

.section7 .imgbox img{
    border:0px solid red;
    margin: 0 27px;
}

.section7 h4{
    font-size: 34px;
    font-weight: bold;
    color:#03548B;
    margin-top: 26px;
    margin-bottom:-10px;
}

.section7 .line{
    display:inline-block;
    height:1px;
    width:200px;
    background-color:#77A0C1;
}

.section7 .imgDesc{
    border:0px solid red;
    width: 1159px;
    margin: 0 auto;
}

.section7 .imgDesc span{
    border: 2px dotted black;
    border-radius: 7px;
    font-size: 18px;
    padding: 10px;
    float: left;
    display:none;
}

.section7 .imgbox img:hover{
    cursor:pointer;
}

.section7 .imgDesc span:nth-child(1){
    display:block;
}
.section7 .imgDesc span:nth-child(2){
    margin-left: 209px;
}
.section7 .imgDesc span:nth-child(3){
    margin-left: 393px;
}
.section7 .imgDesc span:nth-child(4){
    margin-left: 561px;
}

    


.section8{
    height: 965px;
    background-color: #313C42;
    text-align:center;
    padding-top: 6px;    
}

.section8 h4{
    font-size: 34px;
    font-weight: bold;
    color:white;
    margin-top: 26px;
    margin-bottom: -3px;
    letter-spacing: 5px;
}

.section8 .line{
    display:inline-block;
    height:1px;
    width:257px;
    background-color:white;
}

.section8 .imgBigBox{
    border:0px solid red;
    text-align:center;
}

.section8 .imgbox{
    position:relative;
    width:311px;
    height:367px;
    display:inline-block;
    vertical-align:top;
    border:1px solid gray;   
    margin: 14px 13px;
    color:white;
    cursor:pointer;
}

.section8 .imgbox img{
    border:0px solid red;  
}

.section8 .imgbox .desc{
    position:absolute;
    bottom:0px;
    width:100%;
    border:0px solid gray;
    background-color:black;
    text-align:center;
    color:white;    
    background-color:rgba(0,0,0,0.7);
}
.section8 .imgbox .desc span:first-child{
    display:inline-block;
    font-size:30px;
}
.section8 .imgbox .desc span:last-child{
    display:inline-block;
    font-size:20px;
}

.section8 .imgbox div:last-child{
    width:100%;
    height:100%;
    padding: 20px;
    background-color:#FCAF43;
    font-size:18px;
    box-sizing: border-box;
    text-align: justify;
}

.section8 .imgbox div:last-child span{
    width: 166px;
    height: 6px;
    background-color: white;
    display: block;
    margin: 10px auto 20px auto;
}

.section9{
    height: 565px;
    background-color:white;
    text-align:center;
    padding-top: 6px;    
}

.section9 h4{
    font-size: 34px;
    font-weight: bold;
    margin-top: 26px;
    margin-bottom: -3px;
    letter-spacing: 5px;
    color:#09518B;
}

.section9 .line{
    display:inline-block;
    height:1px;
    width:284px;
    background-color:#09518B;
    margin-left: -6px;
    position: relative;
}


.section10{
    height: 289px;
    text-align:center;
    padding-top: 6px;        
    background:url('../img/section10bg.png') no-repeat;
    background-size:100% 100%;
}

.section10 h4{
    font-size: 34px;
    font-weight: bold;
    margin-top: 26px;
    margin-bottom: -3px;
    letter-spacing: 5px;
    color:white;
}

.section10 div{
    text-align:center;
}

.section10 div.firstLine{
    margin:44px 0;
}

.section10 div.secondLine{
    margin:10px 0;
}

.section10 a,.section10 a:hover{
    font-size: 17px;
    border-radius: 18px;
    background-color: #FCAF43;
    color: white;
    width: 148px;
    display: inline-block;
    height: 35px;
    margin-right: 23px;
    text-decoration: none;
    /* text-align: center; */
    line-height: 34px;
}

.section12{
    height: 513px;
    text-align:center;
    padding-top: 6px;        
}

.section12 h4{
    font-size: 34px;
    font-weight: bold;
    margin-top: 26px;
    margin-bottom: 18px;
    letter-spacing: 5px;
    color:#09518B;
}

.section12 .content{
    width:1000px;
    margin:0 auto;
    border:0px solid red;
}

.section12 .leftPanel{
    float: left;
    width: 500px;
    font-size: 16px;
    text-align: justify;
    margin-top: 53px;
}

.section12  .firstp{
    text-align:center;
    text-align: justify;
}

.section12  .secondp{
    margin-top: 32px;
    text-align:center;
    text-align: justify;
}

.section12 .rightPanel{
    float:right;
}

.section12 .imgdesc{
    text-align: right;
}

.section12 .imgdesc span:first-child{
    border: 0px solid red;
    color: #426E95;
    margin-right: 78px;
}
.section12 .imgdesc span:last-child{
    border: 0px solid red;
    color: #426E95;
    margin-right: 9px;
}

.section12 .other{
    color: #1D5C96;
    font-size: 15px;
    margin-top: 20px;
}

.section12 .other span{
    color:#F8AD36;
}


.section13{height:500px;width:100%;background-color:#102B34;text-align:center;padding-top: 31px;}

/* section13 */
.section13{
	height: 745px;
}

.section13 .boxheader {
    text-align:center;
}

.section13 .boxheader .p1{
    display: block;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

.section13 .boxheader .p2{
    display: block;
    color: #EDA336;
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 3px;
}

.section13 .boxheader .p3{
    display: block;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
}


.section13 .container{
	position: relative;
}
.section13 #context{
	position: absolute;
	padding: 0 18px;
	box-sizing: border-box;
	width:526px;
	height: 437px;
	right: 129px;
	background: #102b34;
	top: 0;
	text-align: center;
}
.section13 #context img{
	width: 481px;
	height: 282px;
}

.section13 #context .b-title{
	line-height: 65px;
	display: block;
	color: #eda336;
	font-weight: bold;
	font-size: 22px;
}
.section13 #context .title{
	margin-top: 5px;
	margin-bottom: 16px;
	display: block;
	font-size: 16px;
	color: #eda336;
	text-align: left;
	
}
.section13 #context .text{
	color: white;
	display: block;
	text-align: left;
	font-size: 13px;
    margin-top: -16px;
}
.section13 #context .btn{
	
	position: absolute;
	right: 20px;
	bottom: 50px;
	font-size: 16px;
	line-height: 30px;

    color: white;
    background-color: #eda336;
    border-radius: 18px;
    width: 131px;
    font-size: 14px;
}
.section13 .container>.item-logo{
	width: 151px;
	height: 110px;
	float: left;
	margin-top: -1px;
	margin-right: -1px;
	text-align: center;
    padding-top: 34px;
    box-sizing: border-box;
	line-height: 110px;
}
.section13 .item-logo img{
	margin-top: 4px;
    display: inline-block;
    vertical-align: top;
}
.section13 .item-logo{
	vertical-align: middle;
}
.section13 .logo-left .item-logo{
	width: 176px;
	line-height: 110px;
	text-align: center;
	height: 110px;
    padding-top: 34px;
    box-sizing: border-box;
	margin-left: -1px;
	margin-top: -1px;
	float: left;
}
.section13 .logo-left{
	width: 527px;
	height:437px ;
}
.section13 .item-logo{
	border: 1px #bfbfbf solid;
}
.section13 .item-logo.active{
	background-color: #EDA336;
}
.section13 .container>div{
	box-sizing: border-box;
	border: 1px #bfbfbf solid;
}


.section14{
    height: 672px;
    text-align:center;
    padding-top: 6px;        
}

.section14 h4{
    font-size: 34px;
    font-weight: bold;
    margin-top: 26px;
    margin-bottom: 18px;
    letter-spacing: 5px;
    color:#09518B;
}

    .section14 p {
        font-size:15px;
        font-style: italic;
    }
   
.section14 .panel { height:496px; width:1002px; position:relative;margin: 0 auto; margin-top: 25px; }
.section14 .panel .dot { width: 36px; height: 36px; display: block; position: absolute; top: 155px; right: 399px; background: url('../img/dot.png') no-repeat; z-index:99; }
.section14 .panel .panel1 { height:496px; width:1002px; position:absolute; left:-15px; top:0px; text-align:center; }
.section14 .panel .panel1 .b-desc { font-style:initial; font-size: 16px;}
.section14 .panel .panel2 { height:496px; width:1002px; position:absolute; left:0px; top:0px; }


.section15{
    height: 415px;
    margin: 0 auto;
    text-align: center;
    padding-top: 49px;
    background: url(../img/section15bg.png) no-repeat;    
    background-size: cover;
}

.section15 h4{
    font-size: 43px;
    color: #FDA427;
    font-family: 黑体;
    letter-spacing: 6px;
}

.section15 .content{
    text-align: center;
    border: 0px solid red;
    margin-top: 35px;
}

.section15 .imgBox{
    display: inline-block;
    border: 0px solid red;
    width: 291px;
    text-align: center;
}

.section15 .imgBox div{    
    width: 100%;
    color: white;
    text-align: center;
    font-size: 19px;
    margin-top: 23px;
    letter-spacing: 2px;
    font-family:黑体;
}

.section15 .bord div{    
   border-right: 1px dotted white;
}


.section16{
    height: 647px;
    margin: 0 auto;
    text-align: center;
    padding-top: 49px;
}

.section16 h4{
    font-size: 35px;
    color: #034C83;
    letter-spacing: 6px;
    font-weight: bold;
}

.section16 .content{
    text-align: center;
    border: 0px solid red;
    margin-top: 35px;
}

.section16 .imgBox{
    display: inline-block;
    border: 0px solid red;
    width: 191px;
    text-align: center;
}

.section16 .imgBox div{    
    width: 100%;
    text-align: center;
    font-size: 19px;
    letter-spacing: 2px;    
}

.yellowaR{
    border-radius:18px;
}

.section17 {
    height:465px;
    background:url(../img/section10bg.png) no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 20px;
}

.section17  h4{
    font-size: 35px;
    color: white;
}

.section17  .content{
    width: 1210px;
    border: 0px solid yellow;
    margin: 0 auto;
    padding-left: 153px;
    margin-top: 30px;
}
.section17  .line{
    width: 1109px;
    height: 1px;
    margin: 0 auto;
    background: linear-gradient(to left,#12313c,#f9fafb,#12313c);
    margin-top: 21px;
}

.section17  .box{
    width: 601px;
    display: inline-block;
    border: 0px solid red;
    color: white;
}

.section17  .box img{
    float: left;
    margin-right: 8px;
}
.section17  .box h3{
    color: #a5d3e5;
}


.section18{
    height: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 28px;
    background-color: #1E282A;
}

.section18 h4{
    font-size: 35px;
    color: white;
    letter-spacing: 6px;
    font-weight: bold;
}

.section18 span{
    color: white;
    font-size: 16px;
    font-style: italic;
    line-height: 41px;
}

.section18 .content{
    text-align: center;
    border: 0px solid red;
    margin-top: 35px;
}

.section18 .imgBox{
    display: inline-block;
    border: 0px solid red;
    width: 191px;
    text-align: center;
    vertical-align: top;
}

.section18 .imgBox div{    
    width: 100%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;   
    color:white; 
}