a {
    text-decoration:none;
    color: black;
}

.section1 {
    width: 100%;
    height: 400px;
    background: url('../img/banner.jpg') no-repeat;
    background-position: center;
}

h2 {
    font-weight: bold;
}

.section2 {
    text-align: center;
    height: 416px;
}

    .section2 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
    }

.arrow {
    height: 30px;
    border-top: 1px solid #DAC7A1;
    background: url(../img/arrow.png) no-repeat;
    background-position: center;
    width: 389px;
    display: inline-block;
}

.section2 .imgbox {
    text-align: center;
    margin-top: 22px;
}

    .section2 .imgbox img {
        margin: 0 24px;
    }

.section2 .descbox {
    text-align: center;
    margin-top: 20px;
}

    .section2 .descbox div {
        display: inline-block;
        width: 274px;
        padding: 0 48px;
        /* border: 1px solid red; */
        vertical-align: top;
        text-align: justify;
        font-size: 13px;
        font-weight: bold;
    }

        .section2 .descbox div:not(:last-child) {
            border-right: 1px dotted black;
        }

    .section2 .descbox span {
        color: #C5A76A;
        font-size: 16px;
        margin-right: 2px;
    }


.section3 {
    text-align: center;
    height: 432px;
    background: url(../img/3-bg.jpg) no-repeat;
    background-position: center;
    padding-top: 73px;
}

    .section3 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
        color: white;
    }

    .section3 .imgbox {
        text-align: center;
        margin-top: 32px;
    }

        .section3 .imgbox img {
            margin: 0 24px;
        }

    .section3 .line {
        margin: 0 auto;
        width: 974px;
        height: 1px;
        background-color: #ba9a5a;
        margin-top: 32px;
    }

.section4 {
    text-align: center;
}

    .section4 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
    }

    .section4 .imgbox {
        text-align: center;
        margin-top: 17px;
    }

        .section4 .imgbox img {
            margin: 0 8px;
            vertical-align: top;
        }

        .section4 .imgbox .box {
            border: 0px solid red;
            width: 321px;
            height: 20px;
            display: inline-block;
            margin: 0 13px;
            vertical-align: top;
        }

        .imgboxdesc{            
            margin-bottom: 72px;
        }

        .section4 .imgbox div.leftbox {
            display: inline-block;
            border: 0px solid black;
            vertical-align: top;
            margin-top: 9px;
        }
        .section4 .imgbox div.leftbox  img{
            margin:0;
            padding:0;
        }

        .section4 .imgbox div.rightbox {
            display: inline-block;
            border: 0px solid green;
            width: 92%;
        }

        .section4 .imgbox .line {
            background: url(../img/shortline.png) repeat-x;
            display: block;
            width: 298px;
            height: 1px;
            background-position: center;
        }

        .section4 .imgbox div a {
                display: inline-block;
            font-size: 15px;
            font-weight: bold;
            
        }


.section5 {
    background-color: #2c2e2e;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 20px;
    margin-top: 28px;
}

    .section5 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
        color: white;
    }

    .section5 .row {
        text-align: center;
        margin-bottom: 28px;
    }

    .section5 .box {
        display: inline-block;
        background-color: #656666;
        border-radius: 6px;
        height: 307px;
        width: 214px;
        margin: 0 27px;
        text-align: center;
        padding-top: 24px;
    }

        .section5 .box h3 {
            font-family: 黑体;
            color: white;
            font-size: 27px;
            border-bottom: 1px solid white;
            width: 108px;
            display: block;
            margin: 0 auto;
            margin-top: 19px;
        }

        .section5 .box .ulbox {
            margin-top: 35px;
            overflow-y: auto;
            height: 81px;
        }

        .section5 .box ul {
            color: white;
            margin-left: 23px;
            margin-right: 8px;
        }

        .section5 .box li {
            text-align: left;
            list-style-image: url(../img/libg.png);
            list-style-position: outside;
        }

/*滚动条样式*/
.innerbox::-webkit-scrollbar { /*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.innerbox::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    /*background: rgba(0,0,0,0.2);*/
    background: #2CC9D8;
}

.innerbox::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

.section6 {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 20px;
    margin-top: 28px;
}

    .section6 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
    }

    .section6 h4 {
        color: #BF9E5B;
        margin-top: -11px;
    }

    .section6 .row {
        text-align: center;
        margin-bottom: 28px;
    }

    .section6 .box {
        display: inline-block;
        border-bottom: 1px solid;
        height: 307px;
        width: 245px;
        margin: 0 62px;
        text-align: center;
        padding-top: 24px;
    }

        .section6 .box .circle {
            border-radius: 85px;
            background-color: #B79550;
            height: 174px;
            width: 174px;
            margin: 0 auto;
            text-align: center;
        }

            .section6 .box .circle span {
                border: 2px;
                display: inline-block;
                margin-top: 58px;
                font-size: 24px;
                line-height: 21px;
            }

        .section6 .box h3 {
            font-family: 黑体;
            color: white;
            font-size: 27px;
        }

        .section6 .box .ulbox {
            margin-top: 24px;
            overflow-y: auto;
            height: 100px;
        }

        .section6 .box ul {
            margin-left: 23px;
            margin-right: 8px;
            font-size: 14px;
        }

        .section6 .box li {
            text-align: left;
            list-style-image: url(../img/yellowlibg.png);
            list-style-position: outside;
        }

.btn {
    background-color: #B79550;
    color: white;
    /* padding: 7px 20px; */
    font-size: 22px;
    letter-spacing: 2px;
    border-radius: 4px;
    /* vertical-align: top; */
    cursor: pointer;
    width: 200px;
    display: inline-block;
    line-height: 39px;
    font-family: 黑体;
}

a:hover {
    text-decoration: none;
}



.section7 {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 20px;
    margin-top: 28px;
    width: 100%;
    height: 400px;
    background: url('../img/6-bg.png') no-repeat;
    background-position: center;
}

    .section7 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
        color: white;
    }

    .section7 .row {
        text-align: center;
        margin-bottom: 28px;
    }

    .section7 .box {
        display: inline-block;
        border-radius: 6px;
        background-color: white;
        height: 168px;
        width: 149px;
        margin: 0 7px;
        text-align: center;
        padding-top: 21px;
        vertical-align: top;
    }

    .section7 img {
    }

    .section7 .box h3 {
        font-size: 17px;
        line-height: 21px;
    }


.section8 {
    text-align: center;
}

    .section8 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
    }

    .section8 img {
        margin-top: 24px;
    }

    .section8 h3 {
        width: 995px;
        /* text-align: center; */
        margin: 0 auto;
        font-size: 20px;
        color: #b79550;
        letter-spacing: 1px;
    }


.section9 {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 20px;
    margin-top: 28px;
    width: 100%;
    height: 538px;
    background: url('../img/9-bg.png') no-repeat;
    background-position: center;
}

    .section9 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
        color: white;
    }


.section10 {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 64px;
    margin-top: 28px;
    width: 100%;
    height: 538px;
}

    .section10 h2 {
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 20px;
    }

    .section10 .subtitle {
        height: 20px;
        text-align: center;
        font-size: 25px;
        display: block;
        margin-bottom: 44px;
    }
