

/*xyzt1*/
.section-one{height: 400px; width: 100%; background: url('../img/section1_bg.jpg' ) no-repeat;background-size:100%; padding-top:7%; border:0px solid blue;}
.section-one .word-box{width:500px; height:218px; margin:0 auto;padding-top:20px; opacity:0.8; border:0px solid red;text-align:center;background-color:rgba(108,77,203,0.2)}
.section-one .word-box .word{ font-size:53px;line-height:63px;font-weight:bold;color:white;text-align:center;}
.section-one .word-box a{color:white;text-decoration:none;font-size:34px;font-weight:normal;width: 191px;margin:0 auto;}

.section-two{height:500px;width:100%;background-color:#FBFBF1;text-align:center;padding-top: 50px;}
.boxheader{margin:0 auto;border:0px solid red;text-align:center;}
.headerMiddle{margin:0 auto;text-align:center;}
.headerMiddle img{vertical-align:middle;margin-top: -10px;}
.headerMiddle span{font-size:24px;margin:0 10px;letter-spacing:2px;}
.headerBottom{font-size: 18px; color: #838381; letter-spacing: 2px;}

.section-two .box {
    border: 0px solid red;
    text-align:center;
}
    .section-two .box img {
        width: 400px;
        margin:0 5px;
    }
div.prev {
    width:70px;
    height:70px;
    background: url('../img/arrowleft.jpg' ) no-repeat;
    background-size:100%;

    /*箭头容器和内容平行*/
    display:inline-block;
    /*箭头在中间*/
    vertical-align: top;
    margin-top: 85px;
}
div.next {
    width:70px;
    height:70px;
    background: url('../img/arrowright.jpg' ) no-repeat;
    background-size:100%;
    /*箭头容器和内容平行*/
    display:inline-block;
    /*箭头在中间*/
    vertical-align: top;
    margin-top: 85px;
}

.section-two .Box {position: relative;}
.section-two .Box .content {width: 970px;margin: 0 auto;}
.section-two .Box .Box_con {position: relative;}
.section-two .Box .Box_con .btnl {position: absolute;}
.section-two .Box .Box_con .btn {display: block;width: 41px;height: 41px;position: absolute;top: 80px;cursor: pointer;}
.section-two .Box .Box_con .btnl {background: url(../img/arrowleft.jpg) no-repeat center; width:70px;height:70px; background-size:100%;position:relative;float:left;    margin-top: -16px;}
.section-two .Box .Box_con .btnr {background: url(../img/arrowright.jpg) no-repeat center; width:70px;height:70px; background-size:100%;position:relative;float:right;    margin-top: -16px;}
.section-two .Box .Box_con .conbox {position: relative;overflow: hidden;}
.section-two .Box .Box_con .conbox ul {position: relative;list-style: none;width:9999px !important;}
.section-two .Box .Box_con .conbox ul li {float: left;width: 400px;margin-left: 20px;overflow: hidden;}
.section-two .Box .Box_con .conbox ul li:first-child {margin-left: 0;}
.section-two .Box .Box_con .conbox ul li img {display: block;width: 400px;height: 200px;transition: all 0.5s;}
			

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

.section-three{height:650px;width:100%;background-color:#F5F5D3;text-align:center;padding-top: 50px;}

.section-three table{border:1px solid black;    font-size: 15px;    color: gray; text-align:center;}
.section-three table tr{border:1px solid gray;}
.section-three table td{border:1px solid gray;}

.section-four{
    height:500px;
    width:100%;
    padding-top: 50px;

    text-align:center;
    background: url('../img/fourbg.jpg' ) no-repeat;
    background-size:100%;
}
    .section-four .content {
        height:300px;
        width:100%;

        background: url('../img/fourcontent.jpg' ) no-repeat;
        background-size:cover;
    }

.section-five{
    height:750px;
    width:100%;
    padding-top: 50px;

    text-align:center;
    background: url('../img/fivebg.jpg' ) no-repeat;
    background-size:100%;
}
        .section-five .imgcontainer {
            width:722px;
            margin: 0 auto;
            border: 0px solid green;
            display:inline-block;
        }

        .section-five .imgbox {           
            border: 0px solid red;
            float: left;
        }
div.wx-arrowprev {
    width:70px;
    height:70px;
    background: url('../img/arrowleft.jpg' ) no-repeat;
    background-size:100%;

    /*箭头容器和内容平行*/
    display:inline-block;
    /*箭头在中间*/
    vertical-align: top;
    margin-top: 219px;
    cursor:pointer;
}
div.wx-arrownext {
    width:70px;
    height:70px;
    background: url('../img/arrowright.jpg' ) no-repeat;
    background-size:100%;
    /*箭头容器和内容平行*/
    display:inline-block;
    /*箭头在中间*/
    vertical-align: top;
    margin-top: 219px;
    cursor:pointer;
}

.section-six{height:757px;width:100%;background-color:#FBFBF1;text-align:center;padding-top: 50px;}
    .section-six .content {
        margin:0 auto;
        padding-top:20px;
        width:970px;

        font-size: 18px;
        color: #838381;
        /*letter-spacing: 1px;*/
    }

.section-seven{height:500px;width:100%;background-color:white;text-align:center;padding-top: 50px;}

/* section-seven */
.section-seven{
	height: 745px;
}
.section-seven .container{
	position: relative;
}
.section-seven #context{
	position: absolute;
	padding: 0 18px;
	box-sizing: border-box;
	width:526px;
	height: 437px;
	right: 59px;
	background: #FFFFFF;
	top: 0;
	text-align: center;
}
.section-seven #context img{
	width: 481px;
	height: 282px;
}

.section-seven #context .b-title{
	line-height: 65px;
	display: block;
	color: #99774a;
	font-weight: bold;
	font-size: 22px;
}
.section-seven #context .title{
	margin-top: 24px;
	margin-bottom: 16px;
	display: block;
	font-size: 16px;
	color: #99774a;
	text-align: left;
	
}
.section-seven #context .text{
	color: #313131;
	display: block;
	text-align: left;
	font-size: 13px;
    margin-top: -16px;
}
.section-seven #context .btn{
	
	position: absolute;
	right: 20px;
	bottom: 50px;
	font-size: 16px;
	line-height: 30px;
}
.section-seven .container>.item-logo{
	width: 151px;
	height: 110px;
	float: left;
	margin-top: -1px;
	margin-right: -1px;
	text-align: center;
    padding-top: 34px;
    box-sizing: border-box;
	line-height: 110px;
}
.section-seven .item-logo img{
	margin-top: 4px;
    display: inline-block;
    vertical-align: top;
}
.section-seven .item-logo{
	vertical-align: middle;
}
.section-seven .logo-left .item-logo{
	width: 176px;
	line-height: 110px;
	text-align: center;
	height: 110px;
    padding-top: 34px;
    box-sizing: border-box;
	margin-left: -1px;
	margin-top: -1px;
	float: left;
}
.section-seven .logo-left{
	width: 527px;
	height:437px ;
}
.section-seven .item-logo{
	border: 1px #bfbfbf solid;
}
.section-seven .item-logo.active{
	background-color: #ececec;
}
.section-seven .container>div{
	box-sizing: border-box;
	border: 1px #bfbfbf solid;
}
.guwenbtn{
    position: absolute;
    right: 20px;
    bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    padding: 0 34px;
    display: inline-block;
    background: #99774a;
    border-radius: 200px;
    color: #FFFFFF;
    text-decoration: none;
}

