

/*xyzt1*/
.section-one{height: 400px; width: 100%; background: url('../img/section1_bg2.jpg' ) no-repeat;background-size:cover; padding-top:7%; border:0px solid blue;}
.section-one .word-box{width:500px; height:218px; margin:0 auto;padding-top:20px; opacity:0.8; border:0px solid red;text-align:center;background-color:rgba(108,77,203,0.2)}
.section-one .word-box .word{ font-size:53px;line-height:63px;font-weight:bold;color:white;text-align:center;}
.section-one .word-box a{color:white;text-decoration:none;font-size:34px;font-weight:normal;width: 191px;margin:0 auto;}

.section-two{height:500px;width:100%;background-color:#FBFBF1;text-align:center;padding-top: 50px;}
.boxheader{margin:0 auto;border:0px solid red;text-align:center;}
.headerMiddle{margin:0 auto;text-align:center;}
.headerMiddle img{vertical-align:middle;margin-top: -10px;}
.headerMiddle span{font-size:24px;margin:0 10px;letter-spacing:2px;}
.headerBottom{font-size: 18px; color: #838381; letter-spacing: 2px;}

.section-two .box {
    border: 0px solid red;
    text-align:center;
}
    .section-two .box img {
        width: 400px;
        margin:0 5px;
    }
div.prev {
    width:70px;
    height:70px;
    background: url('../img/arrowleft.jpg' ) no-repeat;
    background-size:100%;

    /*箭头容器和内容平行*/
    display:inline-block;
    /*箭头在中间*/
    vertical-align: top;
    margin-top: 85px;
}
div.next {
    width:70px;
    height:70px;
    background: url('../img/arrowright.jpg' ) no-repeat;
    background-size:100%;
    /*箭头容器和内容平行*/
    display:inline-block;
    /*箭头在中间*/
    vertical-align: top;
    margin-top: 85px;
}

.section-two .Box {position: relative;}
.section-two .Box .content {width: 970px;margin: 0 auto;}
.section-two .Box .Box_con {position: relative;}
.section-two .Box .Box_con .btnl {position: absolute;}
.section-two .Box .Box_con .btn {display: block;width: 41px;height: 41px;position: absolute;top: 80px;cursor: pointer;}
.section-two .Box .Box_con .btnl {background: url(../img/arrowleft.jpg) no-repeat center; width:70px;height:70px; background-size:100%;position:relative;float:left;    margin-top: -12px;}
.section-two .Box .Box_con .btnr {background: url(../img/arrowright.jpg) no-repeat center; width:70px;height:70px; background-size:100%;position:relative;float:right;    margin-top: -12px;}
.section-two .Box .Box_con .conbox {position: relative;overflow: hidden;}
.section-two .Box .Box_con .conbox ul {position: relative;list-style: none;width:9999px !important;}
.section-two .Box .Box_con .conbox ul li {float: left;width: 400px;margin-left: 20px;overflow: hidden;}
.section-two .Box .Box_con .conbox ul li:first-child {margin-left: 0;}
.section-two .Box .Box_con .conbox ul li img {display: block;width: 400px;height: 230px;transition: all 0.5s;}
			

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

.section-three{height:650px;width:100%;background-color:#F5F5D3;text-align:center;padding-top: 50px;}

.section-three table{border:1px solid black;    font-size: 15px;    color: gray; text-align:center;}
.section-three table tr{border:1px solid gray;}
.section-three table td{border:1px solid gray;}

.section-four{
    height:800px;
    width:100%;
    padding-top: 50px;

    text-align:center;
    background: url('../img/fourbg.jpg' ) no-repeat;
    background-size:cover;
}
    .section-four .content {
        margin:0 auto;
        margin-top:50px;
        height:700px;
        width:963px;
        background: url('../img/fourcontent4.png') no-repeat;
        background-size:100%;
    }

.section-five{
    height:750px;
    width:100%;
    padding-top: 50px;

    text-align:center;
    background: url('../img/fivebg.jpg' ) no-repeat;
    background-size:100%;
}
        .section-five .imgcontainer {
            width:722px;
            margin: 0 auto;
            border: 0px solid green;
            display:inline-block;
        }

        .section-five .imgbox {           
            border: 0px solid red;
            float: left;
        }
div.wx-arrowprev {
    width:70px;
    height:70px;
    background: url('../img/arrowleft.jpg' ) no-repeat;
    background-size:100%;

    /*箭头容器和内容平行*/
    display:inline-block;
    /*箭头在中间*/
    vertical-align: top;
    margin-top: 295px;
    margin-right:-80px;
    cursor:pointer;
    z-index:99999;
    position:relative;
}
div.wx-arrownext {
    width:70px;
    height:70px;
    background: url('../img/arrowright.jpg' ) no-repeat;
    background-size:100%;
    /*箭头容器和内容平行*/
    display:inline-block;
    /*箭头在中间*/
    vertical-align: top;
    margin-top: 295px;
    margin-left:-80px;
    cursor:pointer;
    z-index:99999;
    position:relative;
}

.section-six{height:757px;width:100%;background-color:#FBFBF1;text-align:center;padding-top: 50px;}
    .section-six .content {
        margin:0 auto;
        padding-top:20px;
        width:970px;

        font-size: 18px;
        color: #838381;
        /*letter-spacing: 1px;*/
    }

.section-seven{height:500px;width:100%;background-color:white;text-align:center;padding-top: 50px;}

/* section-seven */
.section-seven{
	height: 745px;
}
.section-seven .container{
	position: relative;
}
.section-seven #context{
	position: absolute;
	padding: 0 18px;
	box-sizing: border-box;
	width:526px;
	height: 437px;
	right: 59px;
	background: #FFFFFF;
	top: 0;
	text-align: center;
}
.section-seven #context img{
	width: 481px;
	height: 282px;
}

.section-seven #context .b-title{
	line-height: 65px;
	display: block;
	color: #99774a;
	font-weight: bold;
	font-size: 22px;
}
.section-seven #context .title{
	margin-top: 24px;
	margin-bottom: 16px;
	display: block;
	font-size: 16px;
	color: #99774a;
	text-align: left;
	
}
.section-seven #context .text{
	color: #313131;
	display: block;
	text-align: left;
	font-size: 13px;
    margin-top: -16px;
}
.section-seven #context .btn{
	
	position: absolute;
	right: 20px;
	bottom: 50px;
	font-size: 16px;
	line-height: 30px;
}
.section-seven .container>.item-logo{
	width: 151px;
	height: 110px;
	float: left;
	margin-top: -1px;
	margin-right: -1px;
	text-align: center;
    padding-top: 34px;
    box-sizing: border-box;
	line-height: 110px;
}
.section-seven .item-logo img{
	margin-top: 4px;
    display: inline-block;
    vertical-align: top;
}
.section-seven .item-logo{
	vertical-align: middle;
}
.section-seven .logo-left .item-logo{
	width: 176px;
	line-height: 110px;
	text-align: center;
	height: 110px;
    padding-top: 34px;
    box-sizing: border-box;
	margin-left: -1px;
	margin-top: -1px;
	float: left;
}
.section-seven .logo-left{
	width: 527px;
	height:437px ;
}
.section-seven .item-logo{
	border: 1px #bfbfbf solid;
}
.section-seven .item-logo.active{
	background-color: #ececec;
}
.section-seven .container>div{
	box-sizing: border-box;
	border: 1px #bfbfbf solid;
}
.guwenbtn{
    position: absolute;
    right: 20px;
    bottom: 40px;
    font-size: 16px;
    line-height: 42px;
    padding: 0 34px;
    display: inline-block;
    color: #FFFFFF;
    background:url(../img/guwenbg.png);
    background-size: 100%;
}



#pic{position:relative;overflow:hidden;height:900px;width:890px;z-index:2;margin:0 auto 100px ;}
#pic ul{width:100%;height:100%;position:absolute;top:0;left:0;}
#pic ul li{position:absolute;}
#pic ul img{position:relative;top:0;left:0;}
/*图片位置*/
#pic ul .pic1{top:-80px;left:2px;z-index:1;}

#pic ul .pic2{top:139px;left:88px;z-index:2;}
#pic ul .pic3{top:97px;left:182px;z-index:3;}
#pic ul .pic4{top:50px;left:277px;z-index:4;}
#pic ul .pic5{top:97px;left:420px;z-index:3;}
#pic ul .pic6{top:139px;left:556px;z-index:2;}


#pic ul .pic7{top:-180px;left:696px;z-index:1;}
/*图片A标签width和height*/
#pic ul .pic1 a{height:60px;width:96px;}
#pic ul .pic2 a{height:180px;width:242px;}
#pic ul .pic3 a{height:240px;width:284px;}
#pic ul .pic4 a{height:300px;width:338px;}
#pic ul .pic5 a{height:240px;width:284px;}
#pic ul .pic6 a{height:180px;width:242px;}
#pic ul .pic7 a{height:180px;width:288px;}
/*图片明暗*/
#pic ul li.pic1{opacity:0.2;filter:alpha(opacity:20);}
#pic ul li.pic2{opacity:0.6;filter:alpha(opacity:60);}
#pic ul li.pic3{opacity:0.9;filter:alpha(opacity:90);}
#pic ul li.pic4{opacity:1;filter:alpha(opacity:100);}
#pic ul li.pic5{opacity:0.9;filter:alpha(opacity:90);}
#pic ul li.pic6{opacity:0.6;filter:alpha(opacity:60);}
#pic ul li.pic7{opacity:0.2;filter:alpha(opacity:20);}
/*图片width*/
#pic ul li.pic1 img{width:96px;}

#pic ul li.pic2 img{width:242px;}
#pic ul li.pic3 img{width:284px;}
#pic ul li.pic4 img{width:338px;}
#pic ul li.pic5 img{width:284px;}
#pic ul li.pic6 img{width:242px;}

#pic ul li.pic7 img{width:288px;}
/*箭头部分*/
#pic span{display:inline-block;*display:inline;*zoom:1;width:80px;height:80px;position:absolute;top:160px;z-index:30;cursor:pointer;opacity:0.7;filter:alpha(opacity=70);}
#pic:hover span{opacity:1;filter:alpha(opacity=100);}
#pic span img{width:80px;height:80px;display:block;}
#pic span.prev{left:200px;}
#pic span.next{right:120px;}