.icons{background:url(icons/icons.png)  no-repeat;}
.phone{height:16px;width:16px;background-position:0 0;}
.user{height:16px;width:16px;background-position:-16px 0;}
.little-icon{height:19px;width:19px;background-position:-32px 0;}
.right-bt{height:36px;width:36px;background-position:-51px 0;}
.left-bt{height:36px;width:36px;background-position:-87px 0;}
.right{height:71px;width:37px;background-position:-123px 0;}
.left{height:71px;width:37px;background-position:-160px 0;}
.one-on-one{height:72px;width:72px;background-position:-197px 0;}
.users{height:72px;width:72px;background-position:-269px 0;}
.say{height:72px;width:72px;background-position:-341px 0;}
.save{height:72px;width:72px;background-position:-413px 0;}
.topic{height:72px;width:72px;background-position:-485px 0;}
.pass{height:78px;width:78px;background-position:-557px 0;}
.zip{height:78px;width:78px;background-position:-635px 0;}
.chart{height:78px;width:78px;background-position:-713px 0;}
.certificate{height:78px;width:78px;background-position:-791px 0;}
.great{height:78px;width:78px;background-position:-869px 0;}
.book-pen{height:82px;width:82px;background-position:-947px 0;}
.cal{height:82px;width:82px;background-position:-1029px 0;}
.book{height:87px;width:87px;background-position:-1111px 0;}
.app{height:87px;width:87px;background-position:-1198px 0;}
._1and1{height:87px;width:87px;background-position:-1285px 0;}
._318{height:87px;width:87px;background-position:-1372px 0;}
.cpe{height:87px;width:87px;background-position:-1459px 0;}
.pen{height:87px;width:87px;background-position:-1546px 0;}
.pen-paper{height:87px;width:87px;background-position:-1633px 0;}
.play{height:97px;width:97px;background-position:-1720px 0;}