.icons{background:url(icons/icons.png)  no-repeat; background-size: 18.17rem .97rem;}
.phone{height:.16rem;width:.16rem;background-position:0 0;}
.user{height:.16rem;width:.16rem;background-position:-.16rem 0;}
.little-icon{height:.19rem;width:.19rem;background-position:-.32rem 0;}
.right-bt{height:.36rem;width:.36rem;background-position:-.51rem 0;}
.left-bt{height:.36rem;width:.36rem;background-position:-.87rem 0;}
.right{height:.71rem;width:.37rem;background-position:-1.23rem 0;}
.left{height:.71rem;width:.37rem;background-position:-1.60rem 0;}
.one-on-one{height:.72rem;width:.72rem;background-position:-1.97rem 0;}
.users{height:.72rem;width:.72rem;background-position:-2.69rem 0;}
.say{height:.72rem;width:.72rem;background-position:-3.41rem 0;}
.save{height:.72rem;width:.72rem;background-position:-4.13rem 0;}
.topic{height:.72rem;width:.72rem;background-position:-4.85rem 0;}
.pass{height:.78rem;width:.78rem;background-position:-5.57rem 0;}
.zip{height:.78rem;width:.78rem;background-position:-6.35rem 0;}
.chart{height:.78rem;width:.78rem;background-position:-7.13rem 0;}
.certificate{height:.78rem;width:.78rem;background-position:-7.91rem 0;}
.great{height:.78rem;width:.78rem;background-position:-8.69rem 0;}
.book-pen{height:.82rem;width:.82rem;background-position:-9.47rem 0;}
.cal{height:.82rem;width:.82rem;background-position:-10.29rem 0;}
.book{height:.87rem;width:.87rem;background-position:-11.11rem 0;}
.app{height:.87rem;width:.87rem;background-position:-11.98rem 0;}
._1and1{height:.87rem;width:.87rem;background-position:-12.85rem 0;}
._318{height:.87rem;width:.87rem;background-position:-13.72rem 0;}
.cpe{height:.87rem;width:.87rem;background-position:-14.59rem 0;}
.pen{height:.87rem;width:.87rem;background-position:-15.46rem 0;}
.pen-paper{height:.87rem;width:.87rem;background-position:-16.33rem 0;}
.play{height:.97rem;width:.97rem;background-position:-17.20rem 0;}